
<h1>Treinamento de redes através da Teoria Hebbiana</h1>
<h2>Trabalho desenvolvido pelos alunos Lucas Costa Silva Simonini e Aline Gonçalves Fernandes</h2>
<h3>Instruções: </h3>
<ul>
  <li>Digite o nome da tabela e o numero de variáveis de entrada e clique enviar</li>
  <li>Clique no link definir tabela para entrar com os targets desejados ou apagar para começar novamente</li>
  <li>Escolha os targets e clique salvar</li>
  <li>Após aparecer a janela de informando o sucesso da operação, clique no botão treinar, que aparecerá na tela</li>
  <li>Após ser gerada a tabela de treino, clique em testar, para verificar as saídas da rede definida</li>
  <li>Obs: a tabela de treino não é salva mas pode ser gerada a qualquer momento!</li>
</ul>


<h2>Tabelas salvas</h2>
<table id = "index_tabelas">
  <tr>
    <th>Nome</th>
    <th></th>
  </tr>

<% @tabela.each do |tabela| %>
  <tr>
    <td><%= tabela.nome %></td>
    <td>
    	<%if tabela.saida_esperada.empty?%>
    		<%= link_to "Definir", "/show_tabela?id=#{tabela.id}"%>
    	<%else%>
    		<%= link_to "Treinar rede", "/treino?id=#{tabela.id}"%>
    	<%end%>
    </td>
    <td><%= link_to "Apagar", "/destroi_tabela?id=#{tabela.id}"%></td>
  </tr>
<% end %>
</table>

<br />

<div id="criaTabela">
	<%=form_tag '/salva_tabela' do %>
	  
	  <div class="input campo">
		  <%= label_tag(:labelNome, "Nome da tabela: ") %> 
		  <%= text_field_tag(:nome) %>
	  </div>
	  <div class="input campo">
		  <%= label_tag(:labelVars, "Número de variáveis:") %> 
		  <%= number_field_tag(:vars, nil, :in => 1...11) %>
	  </div>
	  	<div class='submitContato'><%=submit_tag 'Criar tabela', :id => 'envia', :class => "cria_tabela"%></div>
	  <br/>
		
	<% end %>
</div>
