
<h1>Treinamento de redes através da Teoria Hebbiana</h1>
<h2>Trabalho desenvolvido pelos alunos Lucas Costa Silva Simonini e Aline Gonçalves Fernandes</h2>
<h3>Instruções: </h3>
<ul>
  <li>Digite o nome da tabela e o número de variáveis de entrada e clique em "Criar tabela";</li>
  <li>Clique no link "Definir" para entrar com as saídas desejadas ou "Apagar" para deletar a tabela;</li>
  <li>Escolha as saídas desejadas e clique em "Salvar";</li>
  <li>Clique no botão "Treinar Rede" que aparecerá na tela;</li>
  <li>Após ser gerada a tabela de treino, clique em "Testar Rede" para verificar as saídas da rede definida;</li>
  <li>Obs: a tabela de treino não é salva mas pode ser gerada a qualquer momento!</li>
</ul>
<h2>Tabelas salvas</h2>
<table id = "index_tabelas">
  <tr>
    <th>Nome</th>
    <th></th>
  </tr>

<% @tabela.each do |tabela| %>
  <tr>
    <td><%= tabela.nome %></td>
    <td>
    	<%if tabela.saida_esperada.empty?%>
    		<%= link_to "Definir", "/show_tabela?id=#{tabela.id}"%>
    	<%else%>
        <% if tabela.letra?%>
          <%= link_to "Treinar rede", "/show_letra?id=#{tabela.id}"%>
        <%else%>
    		  <%= link_to "Treinar rede", "/treino?id=#{tabela.id}"%>
        <%end%>
    	<%end%>
    </td>
    <td><%= link_to "Apagar", "/destroi_tabela?id=#{tabela.id}"%></td>
  </tr>
<% end %>
</table>

<br />

<div id="criaTabela">
	<%=form_tag '/salva_tabela' do %>
	  
	  <div class="input campo">
		  <%= label_tag(:labelNome, "Nome da tabela: ") %> 
		  <%= text_field_tag(:nome) %>
	  </div>
	  <div class="input campo">
		  <%= label_tag(:labelVars, "Número de variáveis:") %> 
		  <%= number_field_tag(:vars, nil, :in => 1...11) %>
	  </div>
	  	<div class='submitContato'><%=submit_tag 'Criar tabela', :id => 'envia', :class => "cria_tabela"%></div>
	  <br/>
		
	<% end %>
</div>

<div id = "salva_letra">
    <% for i in 0..4 %>
        <%for j in 0..4%>
            <input type="checkbox" class="letra" linha="<%= i%>" coluna="<%= j%>">
            <%if j==4 %>
                <br />
            <%end%>
        <%end%>
    <%end%>
    <%= select("letra", i, ["X", "O"], {:include_blank => true}, {:class => 'letras'}) %>
    <input type="button" class="submit_letra" value="Salvar Letra"  >
</div>

<script type="text/javascript">
    $(document).ready(function(){
        var caracteres = new Array();
        $(".submit_letra").click(function(){
            caracteres = [];
            $(".letra").each(function(index, e){
                if($(e).is(':checked')){
                    caracteres.push(1);
                }else{
                    caracteres.push(-1);
                }
            });
            var nome = $(".letras").val();
            $.post("/salva_letra",{nome: nome ,linha: caracteres}, function(data){
                // window.location = "/show_letra?id="+data.id
                location.reload();
            });
        });
    });
</script>
