
<h1><%= @tabela.nome%></h1>
<h3>Variáveis de entrada: <%= @tabela.vars%></h3>
<br />
<table id="rounded-corner">
	<tr>
		<% for num in 1..@tabela.vars%>
	  		<th><%= ("X"+num.to_s)%></th>
	  	<%end%>
	  	<th>Bias</th>
	  	<th>Target</th>
	</tr>
	<% @tabela.linhas.each_with_index do |linha, i|%>
	 <tr>
	 	<%linha.each do |l|%>
	 		<td><%= l%></td>
	 	<%end%>
	 	<td><%= select("t", i, [-1, 1], {:include_blank => true}, {:class => 'targets'}) %></td>
	</tr>
	<%end%>
</table>
<input type="button" value="Salvar Saídas" id="salva_targets" class="comandos"/>
<%= link_to "Página inicial", "/", :class => "inicio"%>

<div id="treino"></div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#salva_targets").click(function(){
			var targets = new Array();
			targets = selecionaTargets();
			salva_targets(targets);
		});
	});

	selecionaTargets = function(){
		var targets = new Array();
		$('.targets').each(function(){
			targets.push($(this).val());
		});
		return targets
	}

	salva_targets = function(targets){
		var id = "<%=raw @tabela.id%>"
		$.post("/salva_targets",{id:id, target:targets}, function(data){
			window.location = "/treino?id="+id
		});
	}
</script>
